html {
	background: white;
	color: black;
	font: courier;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url("fonts/AnonymousPro-Regular.ttf");
  }

/* Instruction Text Style */

.home {
	margin-top: 20%;
}


.instruction {
 	left: 28%;
 	margin: auto;
 	margin-top: 8%;
 	margin-bottom: 30%;
 	text-decoration: none;
 	position: absolute;
 	text-align: center;
	font-family: 'Anonymous Pro', monospace;
	font-size: 1.5em;
	color: black;
	display: inline-block;
	border: solid black 3px;
	background-color: white;
}

.number {
	background-color: black;
	padding: 10px;
	display: inline-block;
	color: white;
	padding-left: 20px;
}

.button-group {
	text-align: center;
 	left: 50%;
}

.hover {
	width: 130px;
	padding-left: 20px;
	position: relative;
	left: 0px;
	top: 0px;
}

a {
	text-decoration: none;
}

button {
	border: none;
 	padding-right: -50px;
 	cursor: pointer;
 	text-decoration: none;
}

button:active {
    transform: scale(0.99);
    border: none;
}

button:hover,
button:focus {
    background: white;
    padding-right: -20px;
    transform: scale(1.05);
}

button:focus {
	text-decoration: none;
	outline: none;
}

p {
	margin-bottom: 10px;
	font-weight: bold;
	font-family: 'Anonymous Pro', monospace;
	padding-right: 16px;
	font-size: 15px;
	color: #000;
	text-decoration: underline;
}




/* QUESTION ONE */

.one {
	display: none; /* this makes the second question group invisible until jQuery (lines 9-12 in script.js) overrides it */
}



/* QUESTION TWO */

.two {
	display: none; /* this makes the second question group invisible until jQuery (lines 9-12 in script.js) overrides it */
}

.two-popular {
	display: none; /* this makes the second question group invisible until jQuery (lines 9-12 in script.js) overrides it */
}

.two-nonconformist {
	display: none; /* this makes the second question group invisible until jQuery (lines 9-12 in script.js) overrides it */
}

.two-underdog {
	display: none; /* this makes the second question group invisible until jQuery (lines 9-12 in script.js) overrides it */
}



/* QUESTION THREE */


.three {
	display: none; /* this makes the third question group invisible until jQuery (lines 14-18 in script.js) overrides it */
}

.three-popular {
	display: none; /* this makes the second question group invisible until jQuery (lines 9-12 in script.js) overrides it */
}

.three-nonconformist {
	display: none; /* this makes the second question group invisible until jQuery (lines 9-12 in script.js) overrides it */
}

.three-underdog {
	display: none; /* this makes the second question group invisible until jQuery (lines 9-12 in script.js) overrides it */
}



/* QUESTION FOUR */

.four {
	display: none; /* this makes the third question group invisible until jQuery (lines 14-18 in script.js) overrides it */
}

.four-nonconformist {
	display: none; /* this makes the third question group invisible until jQuery (lines 14-18 in script.js) overrides it */
}

.four-popular {
	display: none; /* this makes the third question group invisible until jQuery (lines 14-18 in script.js) overrides it */
}

.four-underdog {
	display: none; /* this makes the third question group invisible until jQuery (lines 14-18 in script.js) overrides it */
}



/* QUESTION FIVE */

.five {
	display: none; /* this makes the third question group invisible until jQuery (lines 14-18 in script.js) overrides it */
}

.five-nonconformist {
	display: none; /* this makes the third question group invisible until jQuery (lines 14-18 in script.js) overrides it */
}

.five-popular {
	display: none; /* this makes the third question group invisible until jQuery (lines 14-18 in script.js) overrides it */
}

.five-underdog {
	display: none; /* this makes the third question group invisible until jQuery (lines 14-18 in script.js) overrides it */
}



/* QUESTION SIX */

.six {
	display: none; /* this makes the third question group invisible until jQuery (lines 14-18 in script.js) overrides it */
}

#fantasy {
	width: 300px;
}

#contemporary {
	width: 300px;
}

#scifi {
	width: 300px;
}






.menu {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 575px;
	height: 50px;
	margin-left: 70px;
	margin-bottom: 20px;
	border: black solid 3px;
	background: white;
}

.line {
	border-left: 3px solid black;
	height: 50px;
	position: absolute;
	margin-left: 100px;
	top: 0;
}

.horizontal {
	border-top: 3px solid black;
	width: 200px;
	position: relative;
	margin-bottom: 8px;
	margin-left: -8px;
}

.horizontal-result {
	border-top: 3px solid black;
	width: 300px;
	position: relative;
	margin-bottom: 8px;
	margin-left: -8px;
}

.title {  /* Reset Button CSS: see lines 22-24 in script.js how this works */
 	display: inline-block;
 	position: absolute;
 	font-size: 20px;
	font-family: 'Anonymous Pro', monospace;
	color: white;
	padding: 5px;
	background: black;
	padding-right: 25px;
	padding-left: 23px;
}

.nav {
	display: inline-block;
	background: white;
	padding: 10px;
	font-family: 'Anonymous Pro', monospace;
	margin-left: 325px;
	margin-top: 5px;
}

.start {
	position: relative;
	font-family: 'Anonymous Pro', monospace;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: bold;
	margin-right: 88px;
}

.reset {
	position: relative;
	font-family: 'Anonymous Pro', monospace;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: bold;
}

/* Styles for the Answers and thier container */
.final {
	position: absolute;
	text-align: center;
	width: 900px;
	height: 900px;
 	left: 0;
 	top: 0;
 	margin-top: 10%;
 	margin-left: 40%;
	opacity: 0; /* Sets the opacity of the answers group to 0%. So as the user clicks through the survey, the answers get filtered out but nobody gets to see it until the third button group is finished */
	z-index: 999;
}

.result {
	font-family: 'Anonymous Pro', monospace;
	color: black;
	position: absolute;
	text-align: center;
 	left: 30%;
	opacity: 1;
}


.overlap {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
}

.top {
	z-index: 99;
}

.space {
	height: 200px;
	background-color: white;
}


.follow {
	position: absolute; /* position must be set absolute in order for div to follow cursor */
	margin: 2px; /* due to some browser rendering issues, we need to give it some margin to prevent any irratic cursor flickers */
	font-family: 'Anonymous Pro', monospace;
	text-align: left;
	font-size: 13px;
	width: 200px;
	background: white;
	border: solid black 3px;
	cursor: none;
	display: none; /* makes sure that the blue strip is hidden from the start */
}

.follow-fission {
	position: absolute; /* position must be set absolute in order for div to follow cursor */
	margin: 2px; /* due to some browser rendering issues, we need to give it some margin to prevent any irratic cursor flickers */
	font-family: 'Anonymous Pro', monospace;
	text-align: left;
	font-size: 13px;
	background: white;
	border: solid black 3px;
	cursor: none;
	display: none; /* makes sure that the blue strip is hidden from the start */
}

.header-fission {
	background: white;
	padding: 10px;
	font-size: 15px;
	color: black;
	font-weight: bold;
}

.follow-mini {
	position: absolute; /* position must be set absolute in order for div to follow cursor */
	margin: 2px; /* due to some browser rendering issues, we need to give it some margin to prevent any irratic cursor flickers */
	font-family: 'Anonymous Pro', monospace;
	text-align: left;
	font-size: 13px;
	width: 180px;
	background: white;
	border: solid black 3px;
	cursor: none;
	display: none; /* makes sure that the blue strip is hidden from the start */
}

.header {
	background: black;
	padding: 10px;
	font-size: 15px;
	color: white;
	font-weight: bold;
}


.body { /* position must be set absolute in order for div to follow cursor */
	color: black;
	font-family: 'Anonymous Pro', monospace;
	text-align: left;
	font-size: 13px;
	padding: 8px;
	background: white;
	cursor: none;
}








